<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <%= article.content %>
    <p class="card-text"><small class="text-muted">Créé le <%= article.created_at.strftime("%d/%m/%Y")
      %> </small></p>
    <p><%= article[:private]? "Article privé" : "" %></p>

  </div>
</div>