<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <%= link_to "article/#{article.id}", method: :get, class: "article_card" do %>
        <%= render partial: "article_card", locals: {article: article} %>
      <% end %>
    <% end %>
  </div>
</div>