<div class="container p-5">
  <div class="row">
    <% @articles.each do |article| %>
      <%= link_to "article/#{article.id}", method: :get, class: "article_card", 'data-searchbar-target' => "article", 'data-title' => "#{article.title.downcase}" do %>
        <%= render partial: "article_card", locals: {article: article} %>
      <% end %>
    <% end %>
  </div>
</div>