<h1>Article#index</h1>
<p>Find me in app/views/article/index.html.erb</p>
<p><%= current_user&.name %></p>

<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class: "article_card" do %>
        <%= render partial: "article_card", locals: {article: article} %>
      <% end %>
    <% end %>
  </div>
</div>