<div class="article">
  <div class="container">
    <div class="article__header">
      <div class="article__title-section">
        <h1><%=@article.title %></h1>
      </div>
    </div>
    <div class="article__content-section">
      <div class="article__content">
        <%= @article.content %>
      </div>
    </div>
    <div class="article__comment-section">
      <h4>Commentaires</h4>
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div id="comment__container" class="article__comment">
            <%  @article.comments.each do |comment| %>
              <%= render partial: "./comment/comment_card", locals: { comment: comment} %>
            <%end %>
          </div>
        </div>

       <div class="col-sm-12 col-md-4">
         <div class="article__create__comment-section">
           <% if user_signed_in?  %>


           <%= render partial: "./comment/comment_form", locals: {user: current_user, article: @article} %>

             <% end %>


         </div>
       </div>
      </div>
    </div>
  </div>
</div>