// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// Article index component

.article_card {
text-decoration: unset;
  color: black;
  .article_card__content {
    opacity: 0.8;
    max-height: 5.8rem;
    padding: 1rem 0;
    overflow: hidden;
  }
}

// Article show

.article {
  .article__header {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2F30;
    .article__title-section {
      color: white;
    }
  }
    .article__content-section {
      padding: 3rem;
      border-bottom: 2px dotted grey;
      .article__content {
      }
    }
  .article__comment-section {
    padding: 3rem;
  }
}

